pytest >= 8.1
requests-mock
swh.core[testing]
swh.journal
xattr >= 1.2.0

types-python-dateutil
types-psutil
types-pyyaml
types-requests

# HPC dependencies are tested too
swh.graph >= 6.7.1
swh.objstorage >= 3.4.0
